diffusers==0.31.0
torch==2.5.1
torchvision==0.20.1
transformers==4.46.1
accelerate
safetensors
einops
onnxruntime-gpu
spaces==0.19.4
omegaconf
peft
huggingface-hub==0.26.2
opencv-python
insightface
gradio
controlnet_aux
gdown
peft
